[submodule "htslib"]
	path = htslib
	url = https://github.com/samtools/htslib.git
	ignore = dirty
[submodule "bcftools"]
	path = bcftools
	url = https://github.com/samtools/bcftools.git
[submodule "libbdsg"]
	path = libbdsg
	url = https://github.com/vgteam/libbdsg.git
[submodule "vg"]
	path = vg
	url = https://github.com/vgteam/vg.git
	ignore = dirty
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "interval-tree"]
	path = interval-tree
	url = https://github.com/5cript/interval-tree.git
